@using News.Models;
@model IEnumerable<NewsVM>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/Content/style.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Box Press</title>
</head>
<body>
	<div id="secwrapper">
		<section>
			<form action="~/Views/Home/Index.cshtml" method="get">
				@foreach (var news in Model)
				{
					<article>

						<h1>@news.Title</h1>
						<p>@news.Article</p>
						<a href="#" class="readmore">Read more</a>
					</article>
					<a href="~/Views/AddNews/AddNews.cshtml" class="btn btn-info" role="button">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				}
			</form>
			<article id="photobox">
				<h1>Photos Box</h1>
				<img src="~/Content/images/pbs1.jpg" alt="" /><img src="~/Content/images/pbs2.jpg" alt="" /><img src="~/Content/images/pbs3.jpg" alt="" />
				<img src="~/Content/images/pbs4.jpg" alt="" /><img src="~/Content/images/pbs5.jpg" alt="" /><img src="~/Content/images/pbs6.jpg" alt="" />
				<img src="~/Content/images/pbs7.jpg" alt="" />
			</article>
</section>
	</div>
</body>
</html>