@model IEnumerable<News.Models.NewsVM>

@{
	ViewBag.Title = "News Feed";
}

<h2>Edit News</h2>

@using (Html.BeginForm("Edit", "EditNews", FormMethod.Post))
{
	<fieldset>
		<legend>Edit Title</legend>
		Edit Title: <br /> <input type="text" name="Title" id="Title" maxlength="50" />
		<br />
		Edit Article Text: <br />
		<textarea name="Article" id="Article" rows="5" cols="40">
        </textarea>
		<br />
		<input type="submit" value="Add" />
	</fieldset>
}
